body {
  margin: 0 auto;
  display: block;
}

.pull-left {
  float: left;
  display: inline-block;
  clear: both;
}

.pull-right {
  float: right;
  display: inline-block;
  clear: both;
}

.center {
  text-align: center;
}

.card {
  padding: 10px;
  max-width: 500px;
  display: block;
  margin: 20px auto;
  border: 1px solid red;

  .remove-button {
    position: relative;
    bottom: 7px;
  }
}

.form-cont {
  margin: 0 auto;
  display: block;
}
